body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

/* heading */
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers  */

.container-fluid {
    padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nay-link {
    font-size: 1.2rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Dowload Butttons */

.download-button {
    margin: 5% 3% 5% 0;
    font-weight: 400;
}

/* Title section  */

#title {
    background-color: #ff4c68;
    color: #FFF;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.div-image-cell {
    display: block;
    margin: 0 auto;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Section Features */

#features {
    background-color: #FFF;
    position: relative;
    z-index: 0;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials section  */
#testimonials {
    background-color: #ef8172;
    color: #FFF;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing Section  */

#pricing {
    padding: 100px;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
    
}

/* CTA Section  */

#cta {
    background-color: #ff4c68;
    color: #FFF;
}

/* footer section  */

#footer {
    background-color: #FFF;
}

.footer-icons {
    margin: 20px 10px;
    color: black;
}

@media (max-width: 1028px){
    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}


